.fotPer{
  height: 150px;
  border-radius: 50%;
  margin-top: 15px;
}
.titulo{
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 80px;
}
.centrar{
  text-align: center;
}
.cajitas{
  font-size: 0;
  text-align: center;
  display: flex;
}
.cajita{
  margin: 20px;
  display: inline-block;
  width: 33.333%;
  vertical-align: top;
  font-size: 1rem;
}
.cajitaf{
  margin: 20px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 1rem;
}
